.map {
    margin-bottom: 180px;
    &-text {
        font-family: 'Playfair Display';
        font-weight: bold;
        font-size: 36px;
        color: $text-accent;
        margin: 180px 0 100px 0;
    }
}